<div id="progress">
  <ul>
    <%- ['Details', 'Confirm', 'Payment', 'Done' ].each_with_index do |text,i| -%>
    <li<%= (i+1==step) ? ' class="selected"' : nil %>><%= text %></li>
    <%- end -%>
  </ul>
</div>
<div style="clear: both">
