<% content_for :head do %>
  <% @title = "All Bricks" %>
<% end %>
<h1><%= @title %></h1>

<%= render(:partial => 'bricks')%>
<br />

<% if admin? %>
  <%= link_to 'New brick', new_brick_path %>
<% end %>
