<% content_for :head do %>
  <% @title = "#{@brick.display_name}'s brick" %>
  <%= stylesheet_link_tag 'bricks' %>
  <%= javascript_include_tag 'swfobject' %> 
  
  <%= embed_wall_swf_tag(@brick) %>
  
  	<style>
  #brick_select li {
  	float: left;
  	margin-right: 15px;
  	list-style: none;
  }
  </style>
<% end %>

		<div id="content">
			<ul id="page">
				<li class="the_post" id="post-2196">
	
					<div class="postcontent">
						<div class="vblock">
							<div id="wall">
							  <%= render :partial => 'brick' %>
							</div>
						</div>
					</div>
				</li>				
			</ul>
			
			<div class="col col_half col_rpad" style="margin-top: 40px;">
				<div class="vblock">
					<h4>Building walls, rebuilding futures</h4>
					<div class="velement"><img src="/images/assets/freddy.jpg" alt="How it helps" /></div>
					<p>When you add a brick to the virtual wall, you’re helping build the real foundations for the futures of hundreds of abandoned babies in Uganda. Every pound spent on bricks for the virtual wall means real progress towards setting up our home in Uganda.</p>
					<p><a href="http://childsifoundation.org/give/buyabrick/how-it-helps">Read more about how your money helps.</a>
				</div>
			</div>
				
			<div class="col col_half col_rpad" style="margin-top: 40px;">
				
				<div class="vblock">
					<h4>Philip Glenister bricks it</h4>
					<div class="velement"><img src="/images/assets/pg.jpg" alt="Philip Glenister" /></div>
					<p>Philip Glenister, star of the hit BBC series ‘Life On Mars’, might brick it about some ways of raising money for Child’s i Foundation, but when it came to supporting our Buy a Brick campaign he leapt at the chance!</p>
					<p><a href="http://childsifoundation.org/give/buyabrick/philip-glenister">Watch the video to see what he had to say about the campaign. </a></p>
					
				</div>
			</div>
			
		</div>
				
		
		
		
		
		
		<div class="clear"></div>
		<!-- {$smarty.capture.subcontent} -->
				
