<% content_for :head do %>
  <% @title = "#{@brick.display_name}'s brick" %>
  <%= stylesheet_link_tag 'bricks' %>
  <%= javascript_include_tag 'swfobject' %> 
  
  <script type="text/javascript">
  swfobject.embedSWF("http://www.childsifoundation.org/files/buyabrick/wall.swf", "wall", "800", "444", "9.0.0", "", { path: "/wall.xml", config: "/xml/config.xml", linkBrick: "<%= @brick.url_key %>", isThanks: false }, {allowscriptaccess:"always"});
  </script>
  
  	<style>
  #brick_select li {
  	float: left;
  	margin-right: 15px;
  	list-style: none;
  }
  </style>
<% end %>

		<div id="content">
			<ul id="page">
				<li class="the_post" id="post-2196">
	
	<div class="postcontent">
<div class="vblock">

<div id="wall">
  <%= render :partial => 'brick' %>
</div>

</div>

</li>				
			</ul>
		</div>
				
		
		
		
		<div class="clear"></div>
		<!-- {$smarty.capture.subcontent} -->
				
