/* @override http://localhost:3000/stylesheets/brick_colours.css */

.a { background-color: #999965; }
.b { background-color: #d46619; }
.c1 { background-color: #319731; }
.c2 { background-color: #cb3400; }
.c3 { background-color: #3499cd; }
.c4 { background-color: #322210; }
.d { background-color: #FFFF66; }
