/* @override http://localhost:3000/stylesheets/bricks.css */
@import url(/stylesheets/brick_colours.css);

#progress ul {
	margin-left: 10px;
	padding-left: 0em;
	padding-bottom: 2em;
}
#progress li {
	color: white;
	text-transform: uppercase;
	float: left;
	list-style: none;
	font-size: 0.8em;
	width: 5em;
	margin-right: 3em;
	padding: 0.7em 3em 0.6em 0.5em;
	background-color: #000;
}
#progress li.selected {
	background-color: #ce6416;	
}

.fieldWithErrors input {
	background-color: orange;
}
.formError {
	color: red;
}

fieldset {
	border: none;
}

#value {
	padding-top: 0.8em;
}
#value label {
	font-size: 1.5em;
	font-weight: bold;
	font-family: "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #535353;
}
#value input {
	font-size: 1.2em;
}

div.panel {
	float: left;
	padding-right: 1em;
}

#personal_details {
	clear: both;
	border-top: solid 1px;
}
#personal_details div {
	float: left;
	width: 50%;
}
