/* @override http://localhost:3000/stylesheets/bricks.css */


#progress h2 {
	float: left;
	font-size: 1.2em;
	padding-left: 0.5em;
}
#progress ul {
	font-size: 1.2em;
}
#progress li {
	float: left;
	list-style: none;
	margin: 0.5em 1em;
}

.fieldWithErrors input {
	background-color: orange;
}
.formError {
	color: red;
}

fieldset {
	border: none;
}
fieldset div.panel {
	float: left;
	width: 50%;
}

#value div {
	float: left;
}
#value label {
	font-size: 2em;
}
#value input {
	font-size: 1.5em;
}

#personal_details {
	border-top: solid 1px;
}
#personal_details div {
	float: left;
	width: 50%;
}


	