
.a { background-color: #999965; }
.b { background-color: #d46619; }
.custom_a { background-color: #876043; }
.custom_b { background-color: #CD661B; }
.custom_c { background-color: #B76948; }
.custom_d { background-color: #80402C; }
.custom_e { background-color: #843903; }
.custom_f { background-color: #391E09; }
.d { background-color: #FFFF66; }

.custom_g { background-color: #008A00; }
.custom_h { background-color: #006600; }
.custom_i { background-color: #CC0000; }
.custom_j { background-color: #8A0000; }
.custom_k { background-color: #F2FFFF; }
.custom_l { background-color: #E6B800; }
