/* @override http://localhost:3000/stylesheets/brick_colours.css */

.breeze { background-color: #999965; }
.london { background-color: #d46619; }
.gold { background-color: #FFFF66; }
.custom_a { background-color: #319731; }
.custom_b { background-color: #cb3400; }
.custom_c { background-color: #3499cd; }
.custom_d { background-color: #322210; }
