body { font-family: georgia,serif; font-size: 0.8em; }

/* general rules */
a { color: black; }
a:hover { background: #cf6517; color: white; }
h2 { font-size: 250%; }
h3 { font-size: 180%; margin-bottom: 10px; }
h4 { font-size: 150%; margin-bottom: 10px; }
li { margin: 0; padding: 0; }
p { margin-bottom: 10px; }
blockquote { font-size: 160%; padding: 20px; font-style: italic; color: #333; }
blockquote .attribution { font-size: 80%; font-family: sans-serif; }

.small { font-family: sans-serif; font-size: 80%; }
.wp-caption-text { padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #ccc; font-transform:uppercase; font-family:sans-serif; font-size: 80%; }



/* header */
#header { margin-top: 20px; }
#header h1 a {	display:block; width: 265px; height: 55px; margin-bottom: 20px;
				background:url(../images/structure/childsi.gif); background-repeat:no-repeat; 
			}
			
/* nav */
#nav li { float: left; display: block;}
#nav li a { float: left; width: 119px; height: 40px; border-right: 1px solid #999999; 
		 font-size: 120%; text-decoration:none; padding: 8px; }
#nav li a:hover, #nav a.selected { font-weight:bold; }
#nav #givetab a { float: right; display:block; width: 240px; height: 160px; margin-top: -100px;
				  background-image: url(../images/structure/givingtag.jpg); background-repeat:no-repeat;  background-position: top right;
				  border: 0; text-decoration: none;
				}
#nav #givetab a:hover { font-weight: bold; background:white; background-image: url(../images/structure/givingtag.jpg); background-repeat:no-repeat;  background-position: top right; }
#nav #givetab a span { display:block; padding-top: 105px; font-size: 120%; color: #CC6600; }


/* homepage hero */
#hero_element li { padding-bottom: 10px; }
#hero_element li .hero_head { text-align: right; width: 420px; margin-left: 380px; height: 305px; line-height: 400%;  }
#hero_element li h2 { display:inline; background: white; font-size: 400%; }
#hero_element p { font-size: 85%; width: 50%; font-family: sans-serif; }

#hero_nav { position:absolute; margin-left: 670px; margin-top: 320px; }
#hero_nav li { float: left; }
#hero_nav li a { color: #ccc; display: block; font-family: sans-serif; font-size: 150%; text-decoration:none; width: 30px; height: 30px; border-bottom: 1px solid #ccc; margin-right: 2px; text-align:center }
#hero_nav li a:hover { background: #ccc; color: black; }
#hero_nav li a.selected { border-bottom: 4px solid #ccc; color: black; }

/* mission statement */
#mission_statement, .statement { font-size: 150%; }


/* footer */
#footer { margin-top: 40px; background: #666; color: white; font-family: sans-serif; font-size: 80%; }
#footer a { color: white; }
#footerlogo { margin: 5px; padding-top: 15px; }
#footer #footer_legal { padding: 10px; margin-right: 40px; }
#footer .col { width: 240px; }
#footer .menu { margin-top: 40px; }
#footer #poweredby { margin-top: 15px; }


/* page subnavs */
.pagesubnav { margin-top: 20px; }
.pagesubnav li { margin-bottom: 2px; }
.pagesubnav  a{ display:block; text-decoration:none; }



/* posts */
.the_excerpt { margin-bottom: 75px; }
.the_excerpt .posthead a { text-decoration: none; }
.the_excerpt .postsub { font-family: sans-serif; font-size: 80%; }
.the_excerpt .sub { float: left; }
.the_excerpt .comments { float: right; }

.the_post { margin-bottom: 75px; }
.the_post h3 { font-size: 300%; }
.the_post .posthead a { text-decoration: none; }
.the_post .postsub { font-family: sans-serif; font-size: 80%; }
.the_post .sub { float: left; }
.the_post .comments { float: right; }


/* category colours */
.category_activity .highlight { background:#876043; padding: 1px; }
.category_activity .highlight a { color: white; }
.category_our-mission .highlight { background:#cf6517; padding: 1px; }
.category_our-mission .highlight a { color: white; }
.category_give .highlight { background:#b76948; padding: 1px; }
.category_give .highlight a { color: white; }
.category_blog .highlight { background:#80402c; padding: 1px; }
.category_blog .highlight a { color: white; }
.category_community .highlight { background:#6395d0; padding: 1px; }
.category_community .highlight a { color: white; }



.highlight a:hover { font-weight: bold; }
#flickrbadge a { float: left; margin-left: 7px; margin-bottom: 5px; }
#pagebanner h3 { position: absolute; background: white; padding: 5px; margin-top: 100px;  }

.navigation { border-top: 1px solid #333; border-bottom: 1px solid #333; padding-top: 10px; padding-bottom: 10px; margin-top: 20px; margin-bottom: 60px }
.navigation .alignleft { width: 230px; float: left; }
.navigation .alignright { width: 230px; float: right; text-align:right; }
div.youtube { text-align: center; }

.ciflist { margin-top: 20px; }
.ciflist li { font-size: 130%; padding-left: 60px; margin-bottom: 15px; margin-top: 15px; padding-top: 5px; padding-bottom: 15px; border-bottom: 1px solid #eee; background-image:url(/images/16x16.gif);background-repeat:no-repeat; background-position:6px 6px; }


