/* @override http://localhost:3000/stylesheets/wall.css */
@import url(/stylesheets/brick_colours.css);

div#wall {
	width: 800px;
	margin: auto;
}

div#wall-bricks {
	margin-left: 4px;
}

div#wall-bricks ul.empty {
  background-color: white;
}

div#wall-bricks ul {
  clear: both;  
  margin: 0;
  height: 23px;
  width: 752px;
  padding: 0px 0px 0px 1px;
  background-color: #bda988;
}

div#wall ul.odd {
	margin-left: 20px;
}

div#wall li {
	float: left;
	list-style-type: none;
	margin: 1px 1px 0px 0px;
}

div#wall li .brick {
	border: 1px solid white;
	display: block;
	height: 20px;
	width: 44px;
}

div#wall li a span {
	display: none;
}

div#wall-base {
	width: 800px;
	height: 128px;
	background: url(/images/wall/base.jpg) no-repeat;
	padding: 0px;
}

div#wall-base h2 {
	margin: 0;
	padding: 0;
}
