<% content_for :head do %>
  <% @title = "Child's i Foundation" %>
  <%= javascript_include_tag 'swfobject' %> 
  
  <script type="text/javascript">
  swfobject.embedSWF("http://metade.org/temp/IChildsFoundation.swf", "wall", "500", "450", "9.0.0", "", { path: "/wall.xml" });
  </script>
<% end %>

<div id="content" class="col_wide">
  <%= render :partial => '/shared/wall', :locals => { :wall => @wall } %>
</div>