<% content_for :head do %>
  <% @title = "Child's i Foundation" %>
  <%= javascript_include_tag 'swfobject' %> 
  
  <%= auto_discovery_link_tag(:rss, formatted_bricks_path(:format => 'rss')) %>
  
  <script type="text/javascript">
  swfobject.embedSWF("http://www.childsifoundation.org/files/buyabrick/wall.swf", "wall", "800", "444", "9.0.0", "", { path: "/wall.xml", config: "http://www.childsifoundation.org/files/buyabrick/xml/config.xml" }, {allowscriptaccess:"always"});
  </script>
  
  	<style>
  #brick_select li {
  	float: left;
  	margin-right: 15px;
  	list-style: none;
  }
  </style>
<% end %>

		<div id="content">
			<ul id="page">
				<li class="the_post" id="post-2196">
	
	<div class="postcontent">
<div class="vblock">

<%= render :partial => '/shared/wall', :locals => { :wall => @wall } %>


</div>
<div id="sidebar" class="col col_rpad">
<div class="vblock">
		Grab a quick brick for £5, £10, £20 or £50<br/><br />
		Or decide how much you want to pay from £2.50 to £50,000 &#8211; we don&#8217;t mind at all.
	</div>
<div class="vblock">
		We want to make it clear: these are not real bricks. We won&#8217;t actually be sending them to Uganda.<br/><br />
		But the money you donate will be used by us to fund our work. Find out more about how your money might be spent.<br/>
	</div>
</div>
<div>
<h4>Choose how much you want to give</h4>
<ul id="brick_select">
<li><a href="/bricks/new/5.00"><img alt="£5" src="/images/bricks/5.jpg" /></a></li>
<li><a href="/bricks/new/10.00"><img alt="£10" src="/images/bricks/10.jpg" /></a></li>
<li><a href="/bricks/new/20.00"><img alt="£20" src="/images/bricks/20.jpg" /></a></li>
<li><a href="/bricks/new/50.00"><img alt="£50" src="/images/bricks/50.jpg" /></a></li>
<li><a href="/bricks/new"><img alt="£any" src="/images/bricks/any.jpg" /></a></li>
</ul>
<div class="clear"></div>
</div>
<div class="col col_half col_rpad" style="margin-top: 40px;">
<div class="vblock">
<h4>Philip Glenister Nicks a Brick</h4>
<div class="velement"><img src="/images/assets/pg.jpg" alt="Philip Glenister" /></div>
<p>Leave it out, Marjorie. Philip Glenister, famous for playing Gene Huntley in Ashes to Ashes, has got the concept a little bit wrong. See how he thought he could support us in this exclusive video.</p>
<p><a href="http://www.childsifoundation.org/give/buyabrick/pg.html">Watch the video.</a></p></div>
</div>
<div class="col col_half col_rpad" style="margin-top: 40px;">
<div class="vblock">
<h4>How the wall helps</h4>
<div class="velement"><img src="/images/assets/freddy.jpg" alt="How it helps" /></div>
<p>Lipsum cheesy donkey meat is tasty longtime on pizzas with a windy extra face on fortitude. Whether the second dash between fire trees is welcomed, or jovially helped, we shall doubt for time to come.</p>
<p><a href="http://www.childsifoundation.org/give/buyabrick/explain.html">How the wall works</a></p>
</div>
</div>
	</div>
	
</li>				
			</ul>
		</div>
				
		
		
		
		<div class="clear"></div>
		<!-- {$smarty.capture.subcontent} -->
				
