<% content_for :head do %>
  <% @title = "Child's i Foundation" %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'wall' %>
<% end %>

<h1>Child's i Foundation: our home is the first step</h1>
<%= render :partial => '/shared/wall', :locals => { :wall => @wall } %>
