<h1>Reports</h1>

<ul>
  <li><%= link_to('All Bricks', report_path('bricks'))%> (<%= link_to('download', formatted_report_path('bricks', 'csv'))%>)</li>
  <li><%= link_to('Generous Bricks', report_path('generous_bricks'))%></li>
</ul>