<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Buy a Brick | <%=h @title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    
    <%= stylesheet_link_tag 'application' %>    
  </head>
  <body>
    <div id="masthead">
    MASTHEAD
    </div>
    <div id="navigation">
    NAVIGATION
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>